include ../../pug/mixins/svg

mixin form-field(props)
  - var label = props && props.label;

  .form-field&attributes(attributes)
    if label
      .form-field__label= label
    block
    .form-field__icon
        +svg('error')