.slider-arrow
	display: flex
	justify-content: space-between


	&__item 
		width: 44px
		height: 44px
		border-radius: 50%
		display: flex 
		align-items: center
		justify-content: center 
		cursor: pointer
		position: relative
		overflow: hidden
		transition: 0.4s
		border: 1px solid $gray2

		svg 
			width: 9px 
			height: 16px
			fill: transparent
			transition: 0.4s
			stroke: $gray2
			stroke-width: 2px



		&:hover
			background-color: $yellow
			border-color: $yellow
			svg 
				stroke: $white

		&--prev:hover 

			svg 
				transform: translateX(-4px)

		&--next:hover 
			svg 
				transform: translateX(4px)

	&--line
		.slider-arrow__item
			position: absolute 
			bottom: 38%
			left: 70px 
			z-index: 5
			&--next 
				right: 70px
				left: auto

		+bp($bp-large)
			display: none

	+bp($bp-large)
		&--line-nt
			display: flex 
			position: absolute 
			top: 0 
			bottom: auto
			right: 50px 
			width: 132px

			.slider-arrow__item
				position: static 
				transform: none


	
	+bp($bp-tablet)
		&__item 
			width: 50px 
			height: 50px

		&--line-nt 
			display: none

	+bp($bp-small)
		&__item 
			width: 40px 
			height: 40px

.swiper-pagination-bullet
	width: 4px !important
	height: 4px !important 
	background-color: $white !important 
	opacity: 0.5 !important
	margin: 0 3 !important

	&.swiper-pagination-bullet-active
		opacity: 1 !important 
		transform: scale(1.8)
			