.btn
	display: inline-flex
	align-items: center
	justify-content: center
	font-family: $baseFont
	color: $baseTxt
	font-size: rem(18px)
	font-weight: 500
	text-align: center
	white-space: nowrap
	transition: 0.5s ease
	cursor: pointer
	padding: 0 30px
	border-bottom: none
	height: rem(50px)
	background-color: $yellow
	position: relative	

	&:hover
		background-color: $yellow2
		color: $baseTxt

	&--gray 
		background-color: $gray4

	&--dark 
		background-color: $baseTxt
		color: $white

		span 
			&:first-child 
				background-color: $gray

		&:hover
			background-color: $baseTxt
			color: $white

	&--middle 
		height: rem(55px)
		padding: 0 35px

	&--large 
		height: rem(60px)
		padding: 0 35px

	&--flat
		color: $btn-flat-color
		border: 1px solid $btn-flat-bor
		font-weight: 400
		&:hover
			color: $btn-flat-color
			border: 1px solid $btn-flat-bor-hover

		

	&.is-hide 
		display: none
	&.is-show 
		display: flex

	&[disabled],
	&.disabled
		opacity: .5
		pointer-events: none


	+bp($bp-large)
		&
			font-size: rem(16px)
			padding: 0 35px

	+bp($bp-small)
		font-size: rem(15px)
		height: 40px
		padding: 0 30px

