.link,a
	display: inline
	color: inherit
	font-size: inherit 
	line-height: inherit
	text-decoration: none
	transition: 0.4s ease
	outline: none
	color: $blue
	
	&:hover
		color: $yellow
		
	&--blue
		color: $link-color
		
	&--arrow
		display: flex
		align-items: center
		border-color: transparent
		font-weight: 500
		
		svg
			margin: 0 0 0 12px
			transform: rotate(-90deg)
			width: 11px
			height: 6px
			fill: transparent

