mixin popup(id, withoutCloseBtn)
  .popup.js-popup(data-block= id)&attributes(attributes)
    .popup__wrapper
      .popup__overlay.js-popup-close
      .popup__inner
        if !withoutCloseBtn
          .popup__close.js-popup-close
            +svg('close2')
        .popup__content
          block