mixin select(props)
  select(data-label=props.label name=props.name class=props.className required)&attributes(attributes)
    each item, index in props.options
      option(value=props.optionsValue[index])= item