mixin file-upload(withoutNotice)
  .file-upload.js-file-upload&attributes(attributes)
    label.file-upload__wrap
      input(type="file").file-upload__input.js-file-upload-input
      .file-upload__btn
        +svg('clip').file-upload__btn-icon
        .file-upload__btn-txt Прикрепить реквизиты
    if !withoutNotice
      .file-upload__notice с расширением (png, jpg, doc, pdf, docx, xls, xlsx) и размером, не более 9.54 МБ.
    
    .file-upload__result.js-file-upload-result