mixin rules-line()
	label.form-checkbox.modal-form__checkbox
		input.form-checkbox__input.js-agree.js-input(type='checkbox' checked)
		span.form-checkbox__checkmark
		small.form-checkbox__text Принимаю условия <a class="link link--bor-gr" href="#" target="_blank">политики конфиденциальности</a> и даю согласие на <a class="link link--bor-gr"  href="#" target="_blank">обработку персональных данных</a>.