mixin form-radio(props)
  label.form-radio&attributes(attributes)
    input.form-radio__input(type='radio' checked=props.checked name=props.name)
    span.form-radio__checkmark
    if props.text
      span.form-radio__text !{props.text}
    block