.breadcrumbs
  margin-bottom: 16px
  color: $gray5
    margin-bottom: 12px

  &__list
    display: flex
    flex-wrap: wrap
      display: none

  &__link
    display: inline
    position: relative
    font-size: rem(15px)
    font-weight: 400
    margin: 5px 30px 5px 0
    transition: .25s
    &:not(:last-child):after
      content: '/'
      position: absolute
      right: -18px
    &:hover
      color: $yellow

    &--back
      padding-left: 20px
      font-size: 13px
      &:before
        content: url("data:image/svg+xml;utf8,<svg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M1 8L5 4.5L1 1' stroke='%23919191' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/> <path d='M1 8L5 4.5L1 1' stroke='white' stroke-opacity='0.3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>")
        position: absolute
        left: 0
        top: 0
        transform: rotate(180deg)

  +bp($bp-tablet)
    &--page
      .breadcrumbs__link 
        font-size: rem(13px)
        &:after 
          font-size: inherit      

