extends pug/base
include components/form-field/form-field
include components/rules-line/rules-line
include components/select/select
include components/counter/counter
include components/form-checkbox/form-checkbox
include components/form-radio/form-radio
include components/breadcrumbs/breadcrumbs
include components/pagination/pagination
include components/file-upload/file-upload
include components/slider-arrow/slider-arrow

append vars
	- title = 'UiKit'

block content
	style.
		.elem {
			margin-bottom: 80px;
		}

		.elem .row {
			display: flex;
			justify-content: space-between;
		}

		.button .row {
			max-width: 588px;
			margin: 0 0 16px;
		}

		.button .row .col {
			max-width: 160px;
			width: 100%;
			margin: 0 10px;
		}

		.input .row {
			max-width: 730px;
			margin: 0 0 37px;
		}

		.elem {
			width: 100%;
		}

		.input .row .col,.select .row .col {
			max-width: 350px;
			width: 100%;
			margin: 10px;
		}

		.input {
			margin: 0 -10px;
		}
		.modal-form__btn {
			margin-top: 20px;
		}

		.checkbox .row {
			max-width: 350px;
		}

		.select .row {
			max-width: 730px;
		}

		.tooltip .icon {
			color: #212429;
			fill: transparent;
			width: 24px;
			height: 24px;
		}

		.tooltip .icon svg {
			width: 100%;
			height: 100%;
		}

		.links .row {
			max-width: 500px;
			margin-bottom: 20px;
		}

		.links .row .col{
			margin-right: 78px;
		}

		.nav .row {
			max-width: 250px;
			align-items: center;
		}
		.block-popup .row {
			justify-content: flex-start;
		}
		.block-popup .row .col{
			width: auto;
			max-width: none;
			margin-left: 0;
			margin-right: 30px;
		}
		.f
		.fx-item {
			width: calc(100% - 300px)
		}
		.fb-wrap {
			margin-bottom: 80px;
		}
		.fb-wrap:last-child {
			margin-bottom: 0px;
		}
		.w15 {
			width: 300px;
		}
		.fx-item:first-child h3 {
			margin-top: 0;
		}
		.fx-item h1:first-child {
			margin-top: 0;
		}
		.color {
			display: flex;
		}
		.color-box {
			width: 120px;
			height: 120px;
			border-radius: 8px;
			margin-right: 22px;
		}
		.color-line {
			width: 120px;
			height: 54px;
		}
		.typography__line {
			position: relative;
			margin-bottom: 30px;
		}
		.typography__name {
			width: 100px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			color: #CACACA;
			font-size: 12px;
		}
		.typography__flex {
			display: flex;
			margin-bottom: 20px;
		}
		.typography__unit {
			margin-right: 50px;
		}
		.typography__unit:last-child {
			margin-right: 0;
		}
		.typography h1,
		.typography h2,
		.typography h3,
		.typography h4,
		.typography h5,
		.typography h6,
		.typography p,
		.typography small {
			margin-top: 0;
			margin-bottom: 30px;
		}
		.icons  {
			justify-content: flex-start !important;
		}
		.icon-wrap .col-icon {
			width: 24px;
			height: 24px;
			margin: 0 10px;
		}
		.icon-wrap .fx-item {
			margin-right: 70px;
		}
		.icon-wrap {
			align-items: center;
		}
		.col-soc {
			margin: 10px;
		}
		.link-wrap .col {
			margin-right: 50px;
			margin-bottom: 50px;
		}

	section.theme-dark.js-anim

		.wrapper
			.fb-wrap.elem(style="padding-top: 130px;")
				.fx-item.w15
					h1 Ui Kit
				.fx-item

			.fb-wrap.elem
				.color
					.color-box.gray(style="border: 1px solid #9E9EA5")
					.color-box.gray2
					.color-box.gray3
					.color-box.gray4
					.color-box.yellow
					.color-box.yellow2
			.fb-wrap
				h2 Типография
				.typography.elem
					.typography__line
						.typography__name h1
						.typography__value
							h1 Hayes Valley Studio
					.typography__line
						.typography__name h2
						.typography__value
							h2 Hayes Valley Studio
					.typography__line
						.typography__name h3
						.typography__value
							h3 Hayes Valley Studio
					.typography__line
						.typography__name h4
						.typography__value
							h4 Hayes Valley Studio
					.typography__line
						.typography__name h5
						.typography__value
							h5 Hayes Valley Studio
					.typography__line
						.typography__name h6 
						.typography__value
							h6 Hayes Valley Studio
					.typography__line
						.typography__name p
						.typography__value
							p Hayes Valley Studio
					.typography__line
						.typography__name p b
						.typography__value
							p
								b Hayes Valley Studio
					.typography__line
						.typography__name small
						.typography__value
							small Hayes Valley Studio
					.typography__line(style="margin-top: 30px")
						.typography__name small b
						.typography__value
							small 
								b Hayes Valley Studio

			.fb-wrap
				h2 Кнопки
				.button.elem(style="margin-bottom: 30px;")
					.typography__line
						a.btn.btn--crop.js-popup-link(data-link="commercial" href="#")
							span Коммерческое предложение
					.typography__line
						a.btn.btn--crop.btn--gray.js-popup-link(data-link="meeting" href="#")
							span Записаться на встречу
					.typography__line
						a.btn.btn--crop.btn--dark.js-popup-link(data-link="presentation" href="#")
							span Презентацию на почту
					.typography__line
						.top__btn.js-popup-link(data-link="video" data-src="https://www.youtube.com/embed/Euv2ramIrv4?autoplay=1" href="#")
					.typography__line
						a.btn.btn--crop.btn--large(href="#")
							span Записаться на встречу
					.typography__line
						a.btn.btn--crop.disabled(href="#")
							span Забронировать
					.typography__line(style="max-width: 100px;")
						+slider-arrow({prev: '', next: ''})
						

			.fb-wrap
				h2 Ссылки
				.typography__line
					a.link(href="#") Ссылка
				.typography__line
					a.link.link--white(href="#") Ссылка
				//- .typography__line
				//- 	a.link.link--gray(href="#") Ссылка
				//- .typography__line
				//- 	a.link.link--bor-gr(href="#") Ссылка
				//- .typography__line
				//- 	a.link.link--bold(href="#") Ссылка
				//- .typography__line
				//- 	a.link.link--yellow(href="#") Ссылка
				//- .typography__line(style="background-color: #E3E3E3; padding: 20px")
				//- 	a.link.link--dark(href="#") Ссылка
				//- .typography__line
				//- 	a.link.link--arrow(href="#")
				//- 		+svg('arrow-prev')
				//- 		span Ссылка

			.fb-wrap
				h2 Формы
				form.modal-form.js-form(action="#" data-thank="#popup-thank" style="max-width: 500px")
					.modal-form__line.modal-form__line--flex
						+form-field({label:'Ваше имя'}).modal-form__unit
							input.form-field__input.js-input(
								type='text',
								name="name",
								data-msg="",
								required
							)
						+form-field({label:'Ваш телефон'}).modal-form__unit
							input.form-field__input.js-number.js-input(
								type='tel',
								name="phone",
								data-msg="",
								required
							)
					.modal-form__line
						+form-field({label:'Ваша почта'})
							input.form-field__input.js-input(
								type='email',
								name="email",
								data-msg="",
								required
							)
					+rules-line()
					button.submit.btn.btn--dark.btn--crop.modal-form__btn(type="submit") 
						span Отправить

				

			.fb-wrap(style="padding-bottom: 100px")
				.fx-item(style="max-width: 500px;")
					h4 Элементы форм
					.typography__line
						.select-bor-gray
							+select({
								className: 'js-select-map js-select',
								label: '',
								options: ['Москва и МО', 'Балашиха', 'Дубровка'],
								optionsValue: ['moscow', 'balashixa', 'dubrovka']
							})
					.typography__line
						.select-label
							+select({
								className: 'js-select-label',
								label: 'Размер',
								options: ['XXL', 'XL', 'L', 'M', 'S'],
								optionsValue: ['xxl', 'xl', 'l', 'm', 's']
							})
					.typography__line(style="max-width: 122px")
						+counter()

					.typography__line
						br
						br
						+form-checkbox({ text:'Товары по распродаже', checked:true })
					.typography__line
						br
						br
						+form-radio({text:'(TT Printer ZT410; 4" дюйма, 203 dpi, шнур евро и великобритании, последовательный порт, USB, 10/100 Ethernet, Bluetooth 2.1/MFi, USB Host, отделитель EZPL)', name:'modification'})
					.typography__line
						br
						br
						+file-upload()
					.typography__line
						br
						br
						+breadcrumbs(['Главная','Акции','Акция на терминал сбора данных Urovo DT50'])
					.typography__line
						br
						br
						+pagination()






