include ../../../components/popup/popup
include ../../../components/form-field/form-field
include thank-popup
include video-popup

.popup.popup--ajax.js-popup(data-block="ajax-content")
	.popup__wrapper
		.popup__overlay.js-popup-close
		.popup__inner
			.popup__content
				.popup__close.popup__close--dark.popup__close--right.js-popup-close
					+svg('close')
				.js-ajax-wrapper
					
		.popup__layout.js-popup-close
