+popup('thank', true).thank-popup#popup-thank
  .thank-popup__inner
    h3.popup__title.thank-popup__title Спасибо!
    p.thank-popup__text Ваше письмо отправлено. <br/> В ближайшее время мы вам ответим.
    .btn.btn--blue.js-popup-close
        span Хорошо